<form [formGroup]="fibonacciForm" (ngSubmit)="calculateFibonacci()">
  <div class="result">
    <label for="inputNumber"></label>
    <input type="text" id="inputNumber" formControlName="inputValue"/>
    <button class="btn" type="submit">Calculate Fibonacci</button>
    <ng-container *ngIf="fibonacciForm && fibonacciResult !== undefined">
      <br><br>Число Фибоначчи для n={{ (fibonacciForm.get('inputValue')?.value || '') }}
      равно <br><br>{{ (fibonacciResult.toString() || '') }}
    </ng-container>
  </div>
</form>

<!--<form [formGroup]="form" (ngSubmit)="calculateFibonacci()">-->
<!--  <input type="text" id="inputNumber" formControlName="inputValue" />-->
<!--  <button class="btn" type="submit">Calculate Fibonacci</button>-->
<!--  <div *ngIf="fibonacciResult" class="result">Результат = {{ fibonacciResult }}</div>-->
<!--</form>-->




